<!DOCTYPE html>

 <style>

body{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.patch{
  padding: 20px;
  border: 20px solid darkgray;
  background-color: lightgray;
  margin: 1px;
}

.quilt{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
 </style>
<div class='quilt'>
{%for patch in patches%}

<div class= 'patch' style="border-color:{{patch.outer_color}} ;background-color: {{patch.inner_color}};"></div>

{%endfor%}

<br>
</div>
<p><a href='/add'> add a patch</a></p>
