<h1>MadLibs</h1>
<form method=POST action="/story">

<form>
Please enter a protagonist name:
<input type='text'name='protagonist'/>
<br>
Please enter an event:
<input type='text'name='event'/>
<br>
Please enter a pluralNoun:
<input type='text'name='pluralNoun'/>
<br>
Please enter a skill:
<input type='text'name='skill'/>
<br>
Please enter a name:
<input type='text'name='name'/>
<br>
Please enter a number:
<input type='text'name='number'/>
<br>
Please enter a largernumber:
<input type='text'name='largernumber'/>
<br>
Please enter a adjective:
<input type='text'name='adjective'/>
<br>
Please enter a place:
<input type='text'name='place'/>
<br>
<input type='submit' value='create a story'/>
</form>
